/*CACHIMBAS*/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.texto{
	margin: auto;
	text-align: center;
	font-family: New Rocker;
	font-size: 30px;
	text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
}

.caja2{
	width: 100%;
	display: flex;
	max-width: 1200px;
	margin: auto;
}

.cuerpo2{
	width: 100%;
	display: flex;
	max-width: 1200px;
	margin: auto;
}

.carta{
	width: 100%;
	margin: 15px;
	border-radius: 6px;
	overflow: hidden;
	background: white;
	box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
	cursor: default;
	transition: all 400ms ease;

}
.carta:hover{
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	transform: translateY(-3%);

}
.carta img{
	width: 100%;
	height: 225px;
}

.carta .contenido{
	padding: 5px;
	text-align: center;
}
.carta .contenido a{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	background-color: red;
	border: 2px solid red;
	border-radius: .2rem;
	transition: all 400ms ease;
	color: white;

}
.carta .contenido a:hover{
	background: black;
	border: 2px solid red;
	color: red;

}
.fotito{
		height: 450px;
		width: 100%;
		padding-bottom: 15px;
	}

iframe{
	margin: auto;
	display: flex;
	border-radius: 10px;
	margin-bottom: 15px;
}






