/*CONTACTANOS*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    background-color: #000000;
}

.contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: gray;
    padding-left: 30px;
}

input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

label {
    display: block;
    float: center;
}

button {
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #1a1a19;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}

#enviar p {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

span {
    color: #ff0000;
}

.aviso {
    font-size: 14px;
    color: #0e0e0e;
}

.formulario h1 {
    font-size: 56px;
    text-align: center;
    padding-bottom: 20px;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

.formulario h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
    margin-left: 15%;
}

.formulario p {
    font-size: 18px;
    color: #0e0e0e;
    font-family: 'New Rocker';
}

::-webkit-input-placeholder {
    color: #a8a8a8;
}

::-webkit-textarea-placeholder {
    color: #a8a8a8;
}

.formulario input:focus {
    outline: 0;
    border: 1px solid #ff0000;
}

.formulario textarea:focus {
    outline: 0;
    border: 1px solid #ff0000;
}

h3 .logoform{
    text-align: center;
    margin-right: 20%;
}

h1{
    margin-right: 5%;
}