
	*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	}
	.cachimba{
		width: 250px;
	}
	.tamaño{
	width: 100%;
	}
	a,li{
		font-family: 'New Rocker', cursive;
		color: white;
	}

	header{
		display: flex;
		background-color: black;
		align-items: center;
		justify-content: space-between;
		padding: 20px 20px;
	}

	.nav-menu{
		align-items: center;
	}
	.nav-menu ul{
		display: flex;
		align-items: center;

	}

	.nav-menu li{
		margin-right: 70px;

	}
	.nav-menu a:hover{
		color: red;
	}
	.nav-menu li:last-child{
		background-color: red;
		border: 2px solid red;
		padding: .25rem .75rem;
		border-radius: .2rem;

	}

	.nav-menu li:last-child:hover{
		background: transparent;
		border: 2px solid red;
	}
	.botones{
		color: red;
		
	}

	.cuerpo{
		display: flex;
		width: 100%;
	}
	.lateralI{
		text-align: center;
		float: left;
		width: 20%;
		background-color: yellow;
	
	}
	.centro{
		font-family: 'New Rocker', cursive;
		text-align: center;
		font-size:25px ;
		color:red ;
		background-color: yellow;
		width: 60%;
		margin: 0px 10px 0px 10px;
	}
	.lateralD{
		text-align: center;
		float: left;
		width: 20%;
		background-color: yellow;
	}
	footer{
		background-color: black;
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	.pie{
		text-align: center;
		margin: 10px 5px 0px 10px;
		height: 150px;

	}
	.pequeño{
		width: 30%;

	}
	.redes{
		text-align: center;
	}
	
	.redes a{
		text-decoration: none;
		width: 55px;
		height: 55px;
		color:red;
		background-color:black;
		line-height: 50px;


	}