*
{

  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
}
body{
  background:yellow;
}


.fab{
  size: 50px;  
}

.container
{
    height: 100%;
    width: 100%;
    
    
}

.area
{ 
    height: 500px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    margin: 6% auto;
    background: transparent;    
    box-shadow: 0 0 10px 0.5px red;
}

.btn{
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  border: none;
  background: transparent;
  box-shadow: 0 0 5px 1px red;
}
.twt{
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.goo{
  position: absolute;
  bottom: 50px;
  left: 160px;
}
.fb{
  position: absolute;
  bottom: 50px;
  right: 50px;
}


input::placeholder{
  color: red;
}
.abc
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;   
}
.text{
  color: red;
}

.input
{
    position: absolute;
    top: 120px;
    width: 300px;
    transition: 0.5s;

}

.credentials
{
    margin: 5px 0;
    width: 100%;
    padding: 10px 0;
    border-top: 0;
    border-bottom: 1px solid red;
    border-left: 0;
    border-right: 0;
    outline: none;
    background: transparent;
}

.ok
{
    box-shadow: 0 0 5px 1px red;
   position: relative;
   padding: 10px 30px;
   width: 80%;
   cursor: pointer;
   margin-left: 35px;
   margin-top: 25px;
   border: 0;
   outline: none;
  background: transparent;
   border-radius: 30px;
   color: red;

}

.box
{
    margin: 30px 10px 30px 0;
}

.span
{
    color: red;
    font-size: 12px;
    bottom: 70px;
    position: absolute;
}

#first
{
    left: 50px;
}

#second
{
    left: 450px;
}

}
.ok:hover{
  transition: 0.5s;
}
input{
  color:yellow:
}