*
{

  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
}
body{
    background-image:url("../IMG/humo.gif") ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
    *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    }
    .cachimba{
        width: 250px;
    }
    .tamaño{
    width: 100%;
    }
    a,li{
        font-family: 'New Rocker', cursive;
        color: white;
    }

    header{
        display: flex;
        background-color: black;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .nav-menu{
        align-items: center;
    }
    .nav-menu ul{
        display: flex;
        align-items: center;

    }

    .nav-menu li{
        margin-right: 70px;

    }
    .nav-menu a:hover{
        color: red;
    }
    .nav-menu li:last-child{
        background-color: red;
        border: 2px solid red;
        padding: .25rem .75rem;
        border-radius: .2rem;

    }

    .nav-menu li:last-child:hover{
        background: transparent;
        border: 2px solid red;
    }
    .botones{
        color: red;
    }

.fab{
  size: 50px;  
}

.container
{
    height: 100%;
    width: 100%;
    
    
}

.area
{ 
    height: 500px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    margin: 6% auto;
    background: transparent;    
    box-shadow: 0 0 10px 0.5px yellow;
}

.btn{
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  border: none;
  background: transparent;
}
.twt{
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.goo{
  position: absolute;
  bottom: 50px;
  left: 160px;
}
.fb{
  position: absolute;
  bottom: 50px;
  right: 50px;
}


input::placeholder{
  color: yellow;
}
.abc
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;   
}
.text{
  color: yellow;
}

.input
{
    position: absolute;
    top: 120px;
    width: 300px;
    transition: 0.5s;

}

.credentials
{
    margin: 5px 0;
    width: 100%;
    padding: 10px 0;
    border-top: 0;
    border-bottom: 1px solid yellow;
    border-left: 0;
    border-right: 0;
    outline: none;
    background: transparent;
}

.ok
{
    box-shadow: 0 0 5px 1px yellow;
   position: relative;
   padding: 10px 30px;
   width: 80%;
   cursor: pointer;
   margin-left: 35px;
   margin-top: 25px;
   border: 0;
   outline: none;
  background: transparent;
   border-radius: 30px;
   color: yellow;

}

.box
{
    margin: 30px 10px 30px 0;
}

.span
{
    color: yellow;
    font-size: 12px;
    bottom: 70px;
    position: absolute;
}

#first
{
    left: 50px;
}

#second
{
    left: 450px;
}

}
.ok:hover{
  transition: 0.5s;
}
input{
  color:yellow:
}

footer {
    
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: white;
    background-color: black;

}

.copyright-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo {
    margin-bottom: 1.2rem;
}

.footer-info,
.menu-item-footer {
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover {
    opacity: 1;
    color: red;
}

.menu-title {
    font-size: var(--medium-text-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container {
    display: flex;
    color:red;
    background-color:black;
}

.social-link {
    height: 100%;
    width: 30px;
    background-image: url(FacebookBlanco.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover {
    opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
    background-image: url(TwitterBlanco.png);
}

footer .social-link:nth-of-type(3) {
    /*Nth of type inside that container*/
    background-image: url(LinkedinBlanco.png);
}


/*MEDIA QUERY*/
@media (max-width: 768px) {

    .footer-container {
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container {
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1) {
        align-items: flex-start;
    }

    .footer-content-container:nth-of-type(3) {
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }

    .footer-menus .footer-content-container:nth-of-type(2) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}