/*NAVEGADOR*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.cachimba {
    width: 250px;
}

.tamaño {
    width: 100%;
}

.nav-menu a li {
    font-family: 'New Rocker', cursive;
    color: white;
}

header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.nav-menu {
    align-items: center;
}

.nav-menu ul {
    display: flex;
    align-items: center;

}

.nav-menu li {
    margin-right: 70px;

}

.nav-menu a:hover {
    color: red;
}

.nav-menu li:last-child {
    background-color: red;
    border: 2px solid red;
    padding: .25rem .75rem;
    border-radius: .2rem;

}

.nav-menu li:last-child:hover {
    background: transparent;
    border: 2px solid red;
}

.botones  {
    color: red;
}

.cachimba {
    width: 250px;
}

.tamaño {
    width: 100%;
}

.nav-menu li a {
    font-family: 'New Rocker', cursive;
    color: white;
}

header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.nav-menu {
    align-items: center;
}

.nav-menu ul {
    display: flex;
    align-items: center;

}

.nav-menu li {
    margin-right: 70px;

}

.nav-menu a:hover {
    color: red;
}

.nav-menu li:last-child {
    background-color: red;
    border: 2px solid red;
    padding: .25rem .75rem;
    border-radius: .2rem;

}

.nav-menu li:last-child:hover {
    background: transparent;
    border: 2px solid red;
}

.botones {
    color: red;
}